@import "Component/fonts";

main {
    height: auto;
    min-height: calc(100vh - 3.25rem);
}

.shadow {
    box-shadow: 0 0 5px 0 lightgrey !important;
}

.is-absolute {
    position: absolute;
}

.is-full-width {
    width: 100%;
}

.is-full-height {
    height: 100%;
}

.overflow-hidden {
    overflow: hidden;
}

.z-index-1n {
    z-index: -1;
}

.opacity-quarter {
    opacity: 0.25;
}

.red-msg {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    transition: 0.5s;
    opacity: 1;

    div {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        color: white;
    }

    .warning {
        background: #ffeb3b !important;
    }

    .error {
        background: #f44336 !important;
    }

    .success {
        background: #4caf50 !important;
    }
}