$p: 0;

@for $i from 0 to 3 {
    .foxy-pad-#{$i} {
        padding: #{$p}rem;
    }

    .foxy-padx-#{$i} {
        padding-left: #{$p}rem;
        padding-right: #{$p}rem;
    }

    .foxy-pady-#{$i} {
        padding-top: #{$p}rem;
        padding-bottom: #{$p}rem;
    }

    .foxy-pads-#{$i} {
        padding-left: #{$p}rem;
    }

    .foxy-pade-#{$i} {
        padding-right: #{$p}rem;
    }

    .foxy-padt-#{$i} {
        padding-top: #{$p}rem;
    }

    .foxy-padb-#{$i} {
        padding-bottom: #{$p}rem;
    }

    $p: $p + 0.25;
}

$p: 1;

@for $i from 3 to 10 {
    .foxy-pad-#{$i} {
        padding: #{$p}rem;
    }

    .foxy-padx-#{$i} {
        padding-left: #{$p}rem;
        padding-right: #{$p}rem;
    }

    .foxy-pady-#{$i} {
        padding-top: #{$p}rem;
        padding-bottom: #{$p}rem;
    }

    .foxy-pads-#{$i} {
        padding-left: #{$p}rem;
    }

    .foxy-pade-#{$i} {
        padding-right: #{$p}rem;
    }

    .foxy-padt-#{$i} {
        padding-top: #{$p}rem;
    }

    .foxy-padb-#{$i} {
        padding-bottom: #{$p}rem;
    }

    $p: $p + 1;
}
