.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.foxy-self-center {
    align-self: center;
}

.foxy-justify-between {
    justify-content: space-between;
}

.foxy-justify-center {
    justify-content: center;
}

.center {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.center-horizontal {
    left: 50%;
    transform: translateX(-50%);
}

.center-vertical {
    top: 50%;
    transform: translateY(-50%);
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}