.auth>div:first-child {
    width: 90%;
}

.auth,
.recovery {
    padding-top: 4.5rem;
    padding-bottom: 1.5rem;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;

    a {

        color: cornflowerblue;
    }

    >div:first-child {

        display: flex;
        height: fit-content;

        h1 {
            text-align: center;
        }

        .container {
            background: white;
            padding: 2rem;
            border-radius: 5px;

            div {
                text-align: center;
            }

            .img-login {
                width: 30%;
                margin: 2rem;
            }

            h1 {
                width: fit-content;
                margin: auto;
                font-size: 15pt;
            }

            hr {
                margin: 1rem -1rem;
                width: calc(100% + 2rem);
                border: none;
                border-bottom: 1px solid lightgrey;
            }

            button,
            input {
                border: none;
                background: none;
                width: 100%;
                border-radius: 5px;
                font-size: 12pt;
            }

            button {
                color: white
            }

            .auth-form {

                button {

                    background: goldenrod;
                }
            }

            .auth-social {

                margin-top: 2rem;

                path {
                    fill: white;
                }

                .google {
                    background: #DB4437;
                }

                .facebook {
                    background: #4267B2;
                }

                .twitter {
                    background: #000000;
                }

                .instagram {
                    background: #f09433;
                    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
                    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
                    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
                }
            }
        }

    }
}

.recovery {

    .container {
        p {
            text-align: center;
        }

        img {
            width: 100px;
            margin: auto;
        }

        // Boton de recuperacion
        div {
            text-align: center;

            button {
                background-color: goldenrod !important;
                width: fit-content !important;

                a {
                    color: white;
                }
            }
        }

        form {
            input[type="email"] {
                width: 80%;
            }

            input[type="number"] {
                width: 30%;
            }
        }
    }
}