.extend-label {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid lightgrey;
    background: lightgrey;
    padding: 0.5rem;
    margin: -0.5rem 0;
}

.dash {
    padding-top: 4.5rem;
    padding-bottom: 1.5rem;
    min-height: 100vh;
    height: fit-content;

    > div:first-child {
        display: flex;
        height: fit-content;

        .container {
            position: relative;

            .content,
            .dash-menu {
                background-color: white;
                padding: 1rem;
            }

            .dash-menu.hide {
                width: fit-content;
                background-color: transparent;
                padding: 0;
                right: 0;
            }

            .dash-menu.show {
                width: 100%;
                box-shadow: var(--shadow);
                z-index: 1;
            }

            .dash-menu {
                position: absolute;

                .icon {
                    position: absolute;
                    right: 0;
                    top: 0;
                    margin: 1rem;
                }

                .items.hide {
                    display: none;
                }

                .items.show {
                    display: block;
                }

                .items {
                    div {
                        margin-bottom: 1rem;
                        padding: 0.5rem 1rem;
                        text-align: center;
                        border: 1px solid transparent;

                        &:hover {
                            border-bottom: 1px solid goldenrod;
                        }
                    }

                    .active {
                        background: goldenrod;
                        border-radius: 5px;
                        box-shadow: var(--shadow);

                        a {
                            color: white;
                        }
                    }
                }
            }

            .content {
                width: 100%;
                box-shadow: var(--shadow);

                .show {
                    display: block;
                }

                .hide {
                    display: none;
                }

                hr {
                    margin: 1rem 0;
                    border: none;
                    border-bottom: 1px dotted lightgrey;
                }

                .logo {
                    text-align: center;
                    margin: 0.5rem 0 1rem;

                    p {
                        margin-bottom: 0.5rem;
                    }
                }

                img {
                    box-shadow: var(--shadow);
                    padding: 1rem;
                }

                .sections {
                    display: flex;

                    p {
                        border: 1px solid transparent;
                        width: fit-content;
                        margin: 0 1rem 0.5rem;
                        padding: 0 0.5rem 0.5rem;
                        color: grey;
                    }

                    p.active {
                        border-bottom: 1px solid goldenrod;
                    }
                }

                > div,
                > form {
                    > p {
                        margin-bottom: 0.5rem;
                    }

                    .info-control,
                    .form-control {
                        padding: 0.5rem 1rem 0.5rem 0;
                        border: 1px solid lightgrey;
                        margin-bottom: 0.5rem;
                        border-radius: 5px;
                        overflow: hidden;

                        p {
                            display: grid;
                            grid-template-columns: 40px calc(100% - 40px - 10px);
                            gap: 10px;
                            color: gray;

                            span {
                                @extend .extend-label;
                                color: black;
                            }
                        }
                    }

                    .form-control {
                        display: grid;
                        grid-template-columns: 40px calc(100% - 40px);
                        padding: 0;

                        label {
                            @extend .extend-label;
                            position: relative;
                            margin: 0;
                            padding: 0;
                        }

                        input {
                            box-shadow: none;
                            margin: 0;
                            padding-left: 10px;
                            font-family: var(--open-sans);
                            font-size: 12pt;
                        }
                    }
                }
            }
        }
    }
}
