footer {
    color: grey;

    span {
        a {
            color: grey;
        }
    }

    hr {
        border: none;
        border-bottom: 1px solid whitesmoke;
    }

    h1 {
        font-size: 15pt;
    }

    .visible-sect {
        position: relative;
    }

    .complete-footer {
        transition: 0.5s;
    }

    .hide {
        display: none;
    }

    .show {
        display: block;
    }

    .copy {
        background-color: lightgrey;
        color: black;
        border-radius: 10px;
        padding: 0.1rem;
    }

    span[data-function="toggle-footer"] {
        position: absolute;
        bottom: calc(100% - 15px);
        background: white;
        box-shadow: 0 0 5px 0 lightgrey;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        left: 50%;
        transform: translateX(-50%);
    }

    span[data-function="toggle-footer"]>* {
        transition: 0.5s;
    }

    >div {
        text-align: center;

        p {
            padding: 0.5rem;
        }

        >div:first-child {
            display: flex;
            justify-content: space-between;
        }

        >div {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }
    }
}