.menu .carousel .images {
  position: relative;
  width: 100%;
  max-width: 500px;

  .image {

    &::after {
      content: "Imagen";
      position: absolute;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.menu .carousel-complete {
  display: none;
}