.reservas {
    .form {
        margin: 5rem auto;

        background: white;
        border-radius: 5px;
        box-shadow: 0 0 5px 0 lightgrey;
        padding: 1rem;

        hr {
            border: none;
            margin: .5rem 0;
            border-bottom: 1px dotted lightgrey;
        }

        input {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        .horas{
            height: 3pc;
        }
        .info-send {
            margin-top: 1rem;
        }

        .time-cell {
            cursor: pointer;

            &.disabled {
                background-color: lightcyan;
                cursor: not-allowed;
            }

            &.active {
                background-color: rgb(63, 148, 52);
            }

            &.reserved {
                background-color: rgb(253, 110, 110);
                cursor: not-allowed;
            }

            &.pending {
                background-color: rgb(230, 174, 54);
                cursor: not-allowed;
            }
        }
    }
}

#pay-img {
    animation: fade .2s normal;
}

#pay-input-text {
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 1.2rem);
}

.reserve-confirm-container {
    margin-top: 5rem;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}