.auth {

    .container {
        grid-template-columns: 50% 50%;
        gap: 1rem;

        .auth-form {
            margin-bottom: 2rem;
        }

        .auth-social {

            margin-top: 0 !important;
        }
    }
}