.auth.recovery {
    .container {
        div:first-child {
            align-self: center
        }

        img {
            width: 200px;
        }

        .request-password {
            display: flex;

            input,
            button {
                margin-left: 0;
                margin-right: 0;
            }
        }

    }
}