span[data-function="toggle-footer"] {
    display: none !important;
}

.visible-sect {
    border-bottom: 1px solid gray;
}

.complete-footer {
    display: grid !important;
    grid-template-columns: 1fr 8fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.copy {
    grid-column-start: 1;
    grid-column-end: 9;
}