.header-content > div > .logo {
    img {
        width: 40px;
        height: 40px;
    }

    .websub {
        font-size: medium;
        padding-left: 2rem;
    }
}

.def-menu a {
    padding: 0 1rem;
}

.def-menu a p {
    font-size: 18px;
}
