.home .hero .container div {

    h1 {
        font-size: xx-large;
        padding: 1px;
    }

    p {
        font-size: large;
        padding: 4px;
    }


}

.bol .container {
    p {
        font-size: xx-large;
    }
}

.home .bol form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.bol .container div {
    padding: 0.5rem;
}

.bol form div {
    padding: 0 !important;
}

.bol .container div input {
    padding: 1rem;
}

.bol .container div button {
    padding: 1rem;
}