.auth {
    .container {
        > div {
            padding: 0 2rem;
        }
    }
}

.recovery {
    .container {
        display: grid;
        
        h1 {
           font-size: 18pt !important; 
        }
        p {
            font-size: 15pt;
        }
        a {
            font-size: 15pt;
        }
        input::placeholder {
            font-size: 15pt;
        }
    }
}

.auth {
    div:first-child {
        text-align: center;
    .container { 
        .form{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
        }
        img {
            width: 20% !important;
        }
    }
    }
}