.auth {
    .container {
        > div {
            padding: -1px 2rem;
        }
    }
}

.recovery {
    .container {

        .img-recovery {
            width: 40%;
        }

        display: grid;
        
        h1 {
           font-size: 18pt !important; 
        }
        p {
            font-size: 15pt;
        }
        a {
            font-size: 15pt;
        }
        input::placeholder {
            font-size: 15pt;
        }
    }
}

.auth {
    div:first-child {
        text-align: center;
    .container { 
        .form{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
        }
        .img-login {
            width: 20%;
        }
    }
    }
}