* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

@import "Component/global";

@import "Component/background";
@import "Component/border";
@import "Component/container";
@import "Component/display";
@import "Component/icon";
@import "Component/margin";
@import "Component/padding";
@import "Component/position";
@import "Component/shadow";
@import "Component/size";
@import "Component/text";

html,
body {
    min-height: 100vh;
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.error {

    div:last-child {
        >* {
            margin: 1rem 0;
        }

        >div:nth-child(1) {
            font-size: 70pt;
        }

        >div:nth-child(2) {
            font-size: 20pt;
        }

        >div:nth-child(3) {
            font-size: 20px;
        }

        a {
            display: block;
            width: fit-content;
            border-radius: 50px;
            padding: .5rem 2rem;
            border: 2px solid darkcyan;
            background-color: transparent;
            font-weight: bolder;
            font-size: 12pt;
        }
    }
}